* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /*Colores*/
    /*Primarios*/
    --soft-orange: #E9AB53;
    --soft-red: #F15E50;

    /*Neutrales*/
    --off-white: #FFFDFA;
    --grayish: #C5C6CE;
    --dark-grayish: #5D5F79;
    --very-dark: #00001A;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px; 
}

.header-logo {
    width: 40px;
    height: 40px;
}

.header-logo img {
    width: 100%;
}

main {
    width: 100%;
    height: auto;
    padding: 0px 20px;
}

.main-container {
    width: 100%;
    min-width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.main-container__web3img {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    background-image: url('../assets/images/image-web-3-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-container__title h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.main-container__title p {
    color: var(--dark-grayish);
}

.main-container button {
    width: 50%;
    height: 40px;   
    border: none;
    margin: 20px 0;
    font-weight: 700;
    color: var(--off-white);
    background-color: var(--soft-red);
}

.info-container {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: var(--very-dark);
}

.info-container h2 {
    color: var(--soft-orange);
}

.info-container div {
    padding: 30px 0;
}

.info-container div:nth-child(3) {
    border-top: solid 1px var(--dark-grayish);
    border-bottom: solid 1px var(--dark-grayish);
}

.info-container div:nth-child(4) {
    padding-bottom: 0;
}

.info-container div p {
    margin-bottom: 10px;
}

.info-container div h3 {
    color: var(--off-white);
    margin-bottom: 10px;
}

.info-container div p {
    color: var(--grayish);
}