* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /*Colores primarios*/
    --soft-orange: #E9AB53;
    --soft-red: #F15E50;

    /*colores neutrales*/
    --off-white: #FFFDFA;
    --grayish: #C5C6CE;
    --dark-grayish: #5D5F79;
    --very-dark: #00001A;

    /*Tamaños de fuente*/
    --md-font: 1.5rem;

    /*Fuente*/
    --font-primary: 'Inter', sans-sefif;

}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    width: 100%;
    max-width: 400px;
    margin: auto;
    height: 100%;
    font-size: var(--md-font);
    font-family: var(--font-primary);
}

/*Header*/
.header-container {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    width: 100%;
}

.logo {
    display: inline-block;
    width: 4.5rem;
    height: 3rem;
    margin-left: 20px;
    background-color: #F15E50;
}

.logo img {
    width: 100%;
    height: 100%;
    background-color: azure;
}

.burger-button {
    display: inline-block;
    justify-self: end;
    width: 3.5rem;
    height: 2.5rem;
    margin-right: 20px;
}

.burger-button img {
    width: 100%;
    height: 100%;
}

.nav-bar {
    display: grid;
    grid-template-rows: 100px auto;
    position: absolute;
    right: 0;
    width: 75%;
    height: 100vh;
    background-color: var(--off-white);
}

.close-button {
    display: inline-block;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
    width: 3.5rem;
    height: 3rem;
}

.close-button img {
    width: 100%;
    height: 100%;
}

.nav-bar__ul {
    display: grid;
    align-self: center;
    width: 50%;
    height: 50%;
    list-style: none;
}

.nav-bar__item {
    width: 100%;
    margin-left: 20px;
    font-size: 1.8rem;
}

.nav-bar__item a {
    color: var(--very-dark);
    text-decoration: none;
}

.inactive {
    display: none;
    }

/*Inicio main*/
main {
    display: grid;
    grid-area: main;
    gap: 50px;
    width: 100%;
    padding: 0 20px;
}

/*Seccion noticia destacada*/
.outstanding-new {
    display: grid;
    gap: 20px;
    width: 100%;
    height: auto;
}

.outstanding-new__img {
    display: inline-block;
    width: 100%;
    height: 300px;
}

.outstanding-new__img img {
    width: 100%;
    height: 100%;
}


.outstanding-new__description {
    display: grid;
    gap: 20px;
    width: 100%;
}

.outstanding-new__div {
    display: grid;
    gap: 20px;
    width: 100%;
}

.outstanding-new__title {
    width: 100%;
    font-size: 4rem;
}

.outstanding-new__p {
    color: var(--dark-grayish);
}

/*Boton principal de la pagina*/
.main-button {
    width: 200px;
    height: 40px;
    color: var(--off-white);
    font-weight: 700;
    border: none;
    background-color: var(--soft-red);
}

/*Seccion de noticias*/
.news-container {
    width: 100%;
    display: grid;
    padding: 20px 20px 0 20px;
    background-color: var(--very-dark);
}

.news-container__title {
    font-size: 3rem;
    color: var(--soft-orange);
}

.news-container__news {
    width: 100%;
    height: auto;
    padding: 30px 0;
}

.news-container__news--border {
    border-top: 1px solid var(--off-white);
    border-bottom: 1px solid var(--off-white)
}

.news-container__subtitle {
    margin-bottom: 10px;
}

.news-container__subtitle a {
    color: var(--off-white);
    text-decoration: none;
}

.news-container__description {
    color: var(--grayish);
}

/*Seccion de blogs*/
.blogs-container {
    display: grid;
    gap: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.blogs-container__blogs {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 10px;
    width: 100%;
    height: auto;
}

.blogs-container__img {
    width: 100%;
    height: 100%;
}
.blogs-container__div {
    display: grid;
    gap: 10px;  
}

.blogs-container__number {
    font-size: 3rem;
    color: var(--grayish);
}

.blogs-container__description {
    color: var(--dark-grayish);
}

footer {
    grid-area: footer;
}

@media (min-width: 600px) {
    body {
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: 150px auto 100px;
        width: 100%;
        max-width: 1440px;
        height: 100vh;
        margin: auto;
        padding: 0px 100px;
    }
    
    /*Header*/
    .header-container {
        align-items: center;
    }

    .logo {
        width: 6rem;
        height: 4rem;
        margin: 0;
    }

    .burger-button {
        display: none;
    }

    .nav-bar {
        display: grid;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    .close-button {
        display: none;
    }

    .nav-bar__ul {
        display: grid;
        grid-auto-flow: column;
        align-content: center;
        justify-content: end;
        gap: 15px;
        width: 100%;
        height: 100%;
        list-style: none;
    }

    .nav-bar__item a {
        font-size: 1.5rem;
        color: var(--dark-grayish);
    }

    .nav-bar__item a:hover {
        color: var(--soft-red);
    }
    
    /*Main*/
    main {
        display: grid;
        grid-area: main;
        grid-template-areas: 
            "outstanding outstanding outstanding news"
            "outstanding outstanding outstanding news"
            "blogs blogs blogs blogs";
        gap: 20px;
        width: 100%;
        padding: 0;
    }

    /*Seccion noticia destacada*/
    .outstanding-new {
        display: grid;
        grid-area: outstanding;
    }

    .outstanding-new__img {
        background-color: green;
        height: 100%;
    }

    .outstanding-new__description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .outstanding-new__title {
        width: 100%;
        height: 100%;
        padding-right: 35px;
        font-size: 6rem;
        font-weight: 800;
        line-height: 6rem;
    }

    .outstanding-new__div {
        display: grid;
        padding: 0 35px;
        text-align: justify;
    }

    .outstanding-new__p {
        color: var(--dark-grayish);
    }

    .outstanding-new__div form {
        align-self: end;
    }

    .news-container {
        grid-area: news;
    }

    .blogs-container {
        grid-auto-flow: column;
        grid-area: blogs;
    }

}